<!DOCTYPE html>

<head>
    <title>Crud</title>
</head>
<body>
    <div class="container mt-3">
      <a href="{% url 'create'%}" >link to create a form</a>
      <hr>
      {% for data in queryset %}
      <div class="list-group mb-3">
        <a href="#" class="list-group-item list-group-item-action">Name: {{data.name}}</a>
        <a href="#" class="list-group-item list-group-item-action">Age: {{data.age}}</a>
        <a href="#" class="list-group-item list-group-item-action">Level: {{data.level}}</a>
      </div>
      {% endfor %}
      <hr>  
    </div>
</body>
</html>
